body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/top-view-list-written-black-notebook-black-table-free-space_140725-142507.jpg');
    background-size: cover;
    background-position: center;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    background: rgba(206, 204, 204, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #0c0000;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.navbar-left a {
    font-weight: bold;
    font-size: x-large;
    align-self: start;
   
    display: flex;
}

.navbar-right {
    display: flex;
    gap: 20px;
    margin-right: 20px; /* Adjust this value to move the links more to the left */
}

h1 {
    text-align: center;
    color: #1b1919;
}

.task-entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-entry input, .task-entry select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    flex: 1;
}

#add-task {
    padding: 10px 20px;
    background: #0f0d0d;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

#add-task:hover {
    background: #383636;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.task.complete {
    text-decoration: line-through;
    background: #d4edda;
}

.task .task-actions {
    display: flex;
    gap: 10px;
}

.task .task-actions button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.task .task-actions .complete-task {
    background: #0f0f0f;
    color: #fff;
}

.task .task-actions .complete-task:hover {
    background: #0a0b0b;
}

.task .task-actions .delete-task {
    background: #dc3545;
    color: #fff;
}

.task .task-actions .delete-task:hover {
    background: #c82333;
}
